//
// Scaffolding
// --------------------------------------------------


// Body

body {
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}

// Links

a {
	color: $link-color;
	text-decoration: none;
	transition: all $transition-fast;
	position: relative;

	&:hover,
	&:focus {
		color: $link-hover-color;

		&::after {
			opacity: 1;
			transform: translateY(-2px);
		}
	}

	&::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 1px;
		background: $link-hover-color;
		content: '';
		opacity: 0;
		transition: opacity $transition-fast, transform $transition-fast;
		transform: translateY(-4px);
	}
}

// Selection

::selection {
	background: lighten($link-color, 25%);
	color: #444;
}
